<div class="container">
	<div class="row">
		<div class="col-xs-12 well">
			<h3>To create a <strong>checklist, reminder, event</strong> etc for self and others signup with Todo App !</h3>
			<a href="user/signup" class="btn btn-primary">Signup</a>
		</div>
	</div>
</div>